.features {
  display: flex;
  align-items: center;
  justify-between: center;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: auto;
}

.featureSvg {
  height: 140px;
  width: 140px;
}

.title {
  font-size:100%;
}
.description {
  font-size:90%;
}

.footer {
  padding: 2rem 0;
    position: absolute;
}